.footer{
    background: rgb(152, 199, 105);
}

.footer h2 {
    color: white;
}

.footer p {
    color: rgb(232 228 228);
    margin-bottom: 10px;
}

.social-icon .icon{
    margin-right: 20px;
}

.social-icon p{
    font-size: 18px;
}

.footer-bootom {
    border-top: 1px solid rgb(204, 202, 202);
}